<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8"/>
    <title>@ViewBag.Title - FForum</title>
    <link rel="stylesheet" href="@Url.Content("~/css/main_style.css")" />
</head>
<body>
    <header>Hello im Reinir</header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
