<div class="left-sidebar">
    <div class="imp-links">
        <a href="#"><i class="fa-solid fa-square-poll-horizontal" style="color: #005eff;"></i>Latest News</a>
        <a href="#"><i class="fa-solid fa-user-group" style="color: #005eff;"></i>Friends</a>
        <a href="#"><i class="fa-solid fa-users" style="color: #005eff;"></i>Groups</a>
    </div>
</div>
