@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using forum.Models;
@model System.Collections.Generic.ICollection<Post>

@{
    ViewData["title"] = "Home";
    Layout = "_Layout";
    var currentUsername = Context.Session.GetString("username");
    var currentRole = Context.Session.GetString("role");
    if (currentRole == null) currentRole = forum.Models.User.ROLE.GUESS.ToString();
    var userinfo = new forum.Database.UserSet().GetUser(currentUsername);
    var postlink = $"`/get_post?page={ViewBag.page ?? 1}`";
}
<body style="background-color: #efefef">
    <div class="container" ">
        <!---------left-sidebar--------->
        @await Html.PartialAsync("_SideBar")
        <!---------main-content--------->
        <div class="main-content">        
        @await Html.PartialAsync("_NewPostSection")    
        <!--Post-->
        <div id="posts">
            @await Html.PartialAsync("_Loading")
            <script>
                let req = new XMLHttpRequest();
                req.open('GET', @postlink);
                req.send();
                req.onreadystatechange = (ev) => {
                    document.getElementById('posts').innerHTML = req.response;                    
                    checkAll();
                }                
            </script>
        </div>
        <!--Post-->
       </div>
        <!---------right-sidebar--------->
        <div class="right-sidebar"></div>
    </div>    
    <script src="https://kit.fontawesome.com/eee778a1cd.js" crossorigin="anonymous"></script>
    <script src="~/js/script.js"></script>
</body>

                   

                            