@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using forum.Models;
@model forum.Controllers.HomePageModel

@{
    ViewData["title"] = "Home";
    Layout = "_Layout";
    var currentUsername = Context.Session.GetString("username");
    var currentRole = Context.Session.GetString("role");
    if (currentRole == null) currentRole = forum.Models.User.ROLE.GUESS.ToString();
    var userinfo = new forum.Database.UserSet().GetUser(currentUsername);
}
<body style="background-color: #efefef">
    <div class="container" ">
        <!---------left-sidebar--------->
        @await Html.PartialAsync("_SideBar")
        <!---------main-content--------->
        <div class="main-content">        
        @await Html.PartialAsync("_NewPostSection")    
        <!--Post-->        
        @await Html.PartialAsync("_Posts")
        <!--Post-->
       </div>
        <!---------right-sidebar--------->
        <div class="right-sidebar"></div>
    </div>
    <div style="text-align:center">
    @Html.PagedListPager(
        Model.post_list,
        page => Url.ActionLink("Index","Home", new {page = page}))
    </div>
    <script src="https://kit.fontawesome.com/eee778a1cd.js" crossorigin="anonymous"></script>
    <script src="~/js/script.js"></script>
</body>

                   

                            