@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "User profile";
    Layout = "_Layout";
}



<body>
    <link rel="stylesheet" href="~/css/user_profile.css" />
    <div class="container">
        <section id="top">
            <img src="imgs/Self_Hatred (2).png" class="profile_avatar" height="50" width="50"/>
            <h3>Display name</h3>
            <h4>User name</h4>
        </section>
        <section id="bot">
            <h3>User profile:</h3>
            <div>Username : <span> --- </span> </div>
            <div>Display name :  <span> --- </span> </div>
            <div>Email :  <span> --- </span> </div>
            <div>Phone number :  <span> --- </span> </div>
            <div>Birthday :  <span> --- </span> </div>
            <div>Address :  <span> --- </span> </div>
            <button>Edit</button>
        </section>
    </div>
</body>